@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ## Colors */
    --Orange: hsl(25, 97%, 53%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 13%, 25%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --White: hsl(0, 0%, 100%);
}


body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background: var(--Very-Dark-Blue);
    /* height: calc(100vh -1px); */
    /* margin: 1.25rem; */
}

@media(min-width:500px) {
    .card {
        background-color: var(--Dark-Blue);
        width: 400px;
        border-radius: 1.5rem;
        padding: 2rem;
    }
}


h3 {
    color: var(--White);
}

p {
    color: var(--Light-Grey);
}

.star {
    background-color: var(--Medium-Grey);
    border-radius: 50%;
}

.number-box {
    background-color: var(--Medium-Grey);
    color: var(--Light-Grey);
    text-align: center;
  }
  /* On hover State for numbers */
.number-box:hover{
    color: var(--White);
    background-color: var(--Orange);
    cursor: pointer;
}
.number-box:active{
    background-color: var(--Light-Grey);
}
button {
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 2em;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  button:active {
    background-color: var(--White);
    color: var(--Orange);
  }

  .rating {
    background-color: var(--Medium-Grey);
    border-radius: 2em;
    padding: 0.4em 1.7em;
    color: var(--Orange);
    text-align: center;
  }